<h1> My Groups </h1>
<div class="flex flex-col items-center">
  <% @groups.each do |group| %>
    <div class="border shadow-md p-2 my-2 rounded-md w-full">
      <h2><%= link_to group.name, group %></h2>
      <p><%= group.description %></p>
    </div>
  <% end %>
</div>
