<%= link_to groups_path(@groups) do%>
  <button class="btn-secondary mb-4">Back to My Groups</button>
<%end%>
<div class="flex justify-between">
  <h1 class="text-4xl"> <%= @group.name %> </h1>
  <%= link_to group_group_users_path(@group) do%>
    <button class="btn-primary">View Members</button>
  <%end%>
</div>
<div class="">
</div>
