<%= link_to group_path(@group) do%>
  <button class="btn-danger mb-4">Discard Edits and Return to <%=@group.name%></button>
<%end%>
<h1 class="text-4xl"> New link for <%= @group.name %> </h1>
<%= render 'form' %>
